@font-face {
  font-family: $font-raleway-300;
  src: url('../fonts/raleway-v22-cyrillic-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $font-raleway-900;
  src: url('../fonts/raleway-v22-cyrillic-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
